@media screen and (min-width: 1200px) {
    .container { max-width: 1128px;
    }
    .our-team {
        padding-bottom: 120px;
    }
    .team-list {
        flex-wrap: nowrap;
        padding-bottom: 0;
    }
    .team-list .item {
        margin-bottom: 0;
    }
    .customers-list {
        flex-wrap: nowrap;
    }
    .customers-item {
        margin-bottom: 0;
    }
    .section-title {
        margin-top: 120px;
    }
    .modal {
        height: 584px;
    }

}