@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 429px) {
  .addr-link-tel {
    font-size: 36px;
  }
  /* .mob-menu {
    left: auto;
    right: auto;
  } */
}
/* modal up to 392px */
@media screen and (min-width: 392px) {
  .modal {
    width: 392px;
  }
  .modal-title {
    font-size: inherit;
    margin-bottom: 16px;
  }
  .btn-send {
    margin-left: 95px;
    margin-right: 96px;
    margin-top: 24px;
  }
}
