@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 429px) {
  .addr-link-tel {
    font-size: 36px;
  }
  .mob-menu {
    max-width: 428px;
    left: auto;
    right: auto;
  }
}
