@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }
  .button-order {
    margin-top: 40px;
  }
  .our-team {
    padding-bottom: 0;
  }
  .team-list {
    gap: 72px 24px;
    padding-bottom: 104px;
  }
  .team-list .item {
    width: 264px;
  }
  .team-list .item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .modal {
    width: 408px;
    height: 586px;
  }
  .modal-form {
    padding-left: 24px;
    padding-right: 24px;
  }
  .future-list {
    gap: 24px;
    row-gap: 72px;
  }
  .future-list .item {
    width: calc((100% - 32px) / 2);
  }
  .future-list .item > h3 {
    text-align: left;
  }
  .project-list {
    gap: 48px 24px;
  }
  .card-item {
    width: 356px;
  }
  .button-list {
    justify-content: center;
    margin-bottom: 64px;
  }
  .button-filter {
    padding: 12px 24px;
  }
  .menu-open-button {
    display: none;
  }
  /* menu */

  .main-nav {
    justify-content: space-between;
  }

  .header-items {
    border-bottom: 1px solid var(--footer-text-color);
  }
  .site-nav {
    display: flex;
    gap: 40px;
  }
  .site-nav .item {
    position: relative;
  }
  .nav-link.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background: var(--accent-color);
    border-radius: 2px;
  }

  .nav-link {
    display: block;
    font-weight: 500;
    color: var(--dark-bg-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing);
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: var(--accent-color);
  }

  .addr-link {
    display: block;
    font-style: normal;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing);
  }

  .addr-link:hover,
  .addr-link:focus {
    color: var(--accent-color);
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 108px;
    gap: 72px 24px;
  }
  .footer-titles {
    text-align: start;
  }
  .footer-box {
    width: 264px;
  }
  .subs-form {
    flex-direction: row;
  }
  .subs-input {
    width: 264px;
  }
  .btn-subs {
    margin: 0;
  }

  .section-hero {
    height: 436px;
    background-image: var(--hero-l-gr), url(../images/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: var(--hero-l-gr),
        url(../images/people-office-tab-2x.jpg);
    }
  }
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .project-list {
    justify-content: flex-start;
    gap: 72px 24px;
  }
}

@media screen and (max-width: 767px) {
  .mob-hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
