@media screen and (min-width: 768px) {
    .container { max-width: 736px;
    }
    .our-team {
        padding-bottom: 0;
    }
    .team-list {
        gap: 24px;
        padding-bottom: 104px;
      }
      .team-list .item {
        margin-bottom: 40px;
      }
      .team-list .item:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
      .modal {
        width: 408px;
        height: 586px;
      }
      .modal-form {
        padding-left: 24px;
        padding-right: 24px;
      }
}